* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Myriad W08 Regular", "Segoe UI", Arial, "PingFang TC",
    "Microsoft JhengHei", sans-serif;
}
body {
  background-color: rgba(128, 128, 128, 0.247);
}
footer {
  padding-bottom: 15px;
}
hr {
  margin: 10px;
}

.container {
  background-color: white;
}
.navbar {
  margin-bottom: 0;
}
.nav a {
  font-weight: 600;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 99%;
  max-width: 550px;
  margin-top: -6px;
  margin-right: -1px;
  width: 550px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: inherit; /* right: inherit; */
}
.dropdown-submenu > a:after {
  display: block;
  float: left;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-right-color: #999;
  margin-top: 5px;
  margin-right: 10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}
.dropdown-menu-right {
  margin-left: 0;
}

.dropdown-menu-right {
  right: inherit !important;
  left: auto;
}
.nav-submenu {
  float: left;
  padding: 20px;
  margin-left: 30px;
}
.nav-submenu a {
  padding: 14px 16px;
  text-decoration: none;
}
