section{
    background-color: #9FBEF2;
    padding-bottom: 100px;
}
.dsLaptop{
    background-color: #fff;
    margin: 0 auto;
    width: 1000px;
}
.table{
    display: flex;
    flex-wrap: wrap;
}
.laptop{
    width: 333px;
    border: 0.1px solid gray;
}
.laptop img{
    width: 333px;
}