* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

section {
    background-color: #5DC1ED;
    padding-bottom: 100px;;
    padding-bottom: 100px;
    text-align: center;
}

.table{
    display: flex;
    flex-wrap: wrap;
}

.pcd{
    width: 45%;
}

.pcd img {
    width: 100%;
}

.pc{
    width: 25%;
}

.pc:hover, .pcd:hover {
    border: 5px solid #5DC1ED;
    border-radius: 20px;
}

.pc img{
    width: 100%;
}





